!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= current_page.data.title || "GabrielJaldon.com"
    = stylesheet_link_tag "application"

  %body{class: page_classes}
    %header{class: "centered-navigation"}
      .centered-navigation-wrapper
      %ul{class: "centered-navigation-menu show"}
        - data.site.internal.each do |link|
          %li{class: "nav-link"}
            = link_to link.title, link.path
        %li{class: "nav-link logo"}
          = link_to data.site.title, "/", class: "logo"
        - data.site.external.each do |link|
          %li{class: "nav-link"}
            = link_to link.title, link.url, target: "_blank"
    .wrapper
      %main
        = yield
    %footer{class: "footer"}
      %ul
        %li= link_to "Twitter", "#"
        %li= link_to "Github", "#"
        %li © 2014
