= wrap_layout "layouts/application" do
  %article
    %h1{class: "current-article-title"}= current_article.title
    .current-article-meta
      = "by Gabriel Jaldon #{current_article.date.strftime('%b %e, %Y')} "
      %a{href: "https://twitter.com/share", class: "twitter-share-button", data: {hashtags: "elixirlang", via: "gjaldon"}}
        Tweet
      %script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

    %hr
    = yield

    %i
      Feel free to follow me on Twitter for more articles on Phoenix, Ecto and anything web development with Elixir.
    %a{href: "https://twitter.com/gjaldon", class: "twitter-follow-button", data: {show: {count: "false" }}}
      Follow @gjaldon
    %script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  = disqus
  = disqus_count
