---
title: About - GabrielJaldon.com
---

%article
%h1.about-title Hi, I'm Gabriel Jaldon
%hr

%p
  This blog mainly covers topics on modern web development with
  = link_to("Elixir", "http://elixir-lang.org/")
  a highly productive functional programming language with crazy metaprogramming powers.

%p
  You'll also likely find stuff here on
  = link_to("Ruby", "https://www.ruby-lang.org/en/")
  ,
  = link_to("Ruby on Rails", "http://rubyonrails.org/")
  and topics beyond programming such as learning, productivity and the occasional book review.

%p
  I spend a lot of time reading books on anything that would provide me with insights
  to better myself and strongly believe in incremental improvements that lead to
  compounding advantages. If you like any of the things I just mentioned, follow me
  on
  = link_to("Twitter", "https://twitter.com/gjaldon")
  where I will announce my latest articles. Would be great to hear from you too for any feedback!

#mc-embed-signup
  %form{action: "//gabrieljaldon.us9.list-manage.com/subscribe/post?u=8dadfc53c86880a62a9eb70ba&amp;id=b5afbe918c", method: "post", id: "mc-embedded-subscribe-form", name: "mc-embedded-subscribe-form", class: "validate", target: "_blank", novalidate: nil}
    #mc-embed-signup-scroll
      %label{for: "mce-EMAIL"} My email address is...
      %input{type: "email", value: "", name: "EMAIL", class: "email", id: "mce-EMAIL", required: true}
        %div{style: "position: absolute; left: -5000px;"}
          %input{type: "text", name: "b_8dadfc53c86880a62a9eb70ba_b5afbe918c", tabindex: "-1", value: ""}
        %input{type: "submit", value: "Get Updates!", name: "subscribe", id: "mc-embedded-subscribe", class: "button"}

= disqus
= disqus_count
