---
title: About - GabrielJaldon.com
---

%article
%h1.about-title Hi, I'm Gabriel Jaldon
%hr

%p
  This blog mainly covers topics on web development with
  = link_to("Elixir", "http://elixir-lang.org/")
  and is meant to help others better appreciate this relatively
  new language. I've mainly used
  = link_to("Ruby", "https://www.ruby-lang.org/en/")
  and
  = link_to("Ruby on Rails", "http://rubyonrails.org/")
  in the past, but have found Elixir even more enjoyable to work
  with. I hope it goes the same for you!

%p
  If you are interested in web development with Elixir, follow me on
  = link_to("Twitter", "https://twitter.com/gjaldon")
  where I will announce my latest articles. I'd be glad to hear from you
  too for any feedback and suggestions you might have.

#mc-embed-signup
  %form{action: "//gabrieljaldon.us9.list-manage.com/subscribe/post?u=8dadfc53c86880a62a9eb70ba&amp;id=b5afbe918c", method: "post", id: "mc-embedded-subscribe-form", name: "mc-embedded-subscribe-form", class: "validate", target: "_blank", novalidate: nil}
    #mc-embed-signup-scroll
      %label{for: "mce-EMAIL"} My email address is...
      %input{type: "email", value: "", name: "EMAIL", class: "email", id: "mce-EMAIL", required: true}
        %div{style: "position: absolute; left: -5000px;"}
          %input{type: "text", name: "b_8dadfc53c86880a62a9eb70ba_b5afbe918c", tabindex: "-1", value: ""}
        %input{type: "submit", value: "Get Updates!", name: "subscribe", id: "mc-embedded-subscribe", class: "button"}

= disqus
= disqus_count
