---
title: Gabriel Jaldon on Web Development with Elixir and Phoenix
---

%article
  %h1.about-title
    .avatar
      = image_tag "avatar.jpg"
    Hi, I'm Gabriel Jaldon
  %hr

  %p
    This blog mainly covers topics on web development with
    = link_to("Elixir", "http://elixir-lang.org/")
    and is meant to help others better appreciate this relatively
    new language. I've mainly used
    = link_to("Ruby", "https://www.ruby-lang.org/en/")
    and
    = link_to("Ruby on Rails", "http://rubyonrails.org/")
    in the past, but have found Elixir even more enjoyable to work
    with. I hope it goes the same for you!

  %p
    If you are interested in web development with Elixir, follow me on
    = link_to("Twitter", "https://twitter.com/gjaldon")
    where I will announce my latest articles. I'd be glad to hear from you
    too for any feedback and suggestions you might have.
